<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6"> <![endif]-->
<!--[if IE 7 ]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>netdisk</title>
<link href="${rc.contextPath}/static/css/main.css" rel="stylesheet" />
<style type="text/css">
<!--
atspan {display:none;}
-->
</style>
<script type="text/javascript" src="${rc.contextPath}/static/plugins/highchart/js/jquery.min.js"></script>
<script type="text/javascript" src="${rc.contextPath}/static/js/jquery-1.7.1.min.js"></script>

<script src="${rc.contextPath}/static/js/jquery-ui.js"></script>

<link href="${rc.contextPath}/static/css/jquery-ui.css" rel="stylesheet"/>


</head>
<body class="p_home">

#parse("layout/index_top.vm")

$screen_content

#parse("layout/index_footer.vm")