<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoqee.hadoop.mapper.HfileMapper" >
  <resultMap id="BaseResultMap" type="com.xiaoqee.hadoop.model.Hfile" >
    <id column="fid" property="fid" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="fpath" property="fpath" jdbcType="VARCHAR" />
    <result column="fname" property="fname" jdbcType="VARCHAR" />
    <result column="fmd5" property="fmd5" jdbcType="VARCHAR" />
    <result column="fsize" property="fsize" jdbcType="REAL" />
    <result column="ftype" property="ftype" jdbcType="INTEGER" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    fid, pid, fpath, fname, fmd5, fsize, ftype, addtime
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from hfile
    where fid = #{fid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from hfile
    where fid = #{fid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiaoqee.hadoop.model.Hfile" >
    insert into hfile (fid, pid, fpath, 
      fname, fmd5, fsize, ftype, 
      addtime)
    values (#{fid,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, #{fpath,jdbcType=VARCHAR}, 
      #{fname,jdbcType=VARCHAR}, #{fmd5,jdbcType=VARCHAR}, #{fsize,jdbcType=REAL}, #{ftype,jdbcType=INTEGER}, 
      #{addtime,jdbcType=TIMESTAMP})
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.xiaoqee.hadoop.model.Hfile" >
    update hfile
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="fpath != null" >
        fpath = #{fpath,jdbcType=VARCHAR},
      </if>
      <if test="fname != null" >
        fname = #{fname,jdbcType=VARCHAR},
      </if>
      <if test="fmd5 != null" >
        fmd5 = #{fmd5,jdbcType=VARCHAR},
      </if>
      <if test="fsize != null" >
        fsize = #{fsize,jdbcType=REAL},
      </if>
      <if test="ftype != null" >
        ftype = #{ftype,jdbcType=INTEGER},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where fid = #{fid,jdbcType=VARCHAR}
  </update>
  
  <select id="getUserFileTree" resultMap="BaseResultMap">
  
  select 
  <include refid="Base_Column_List" />
  from hfile h where
   	<if test="pid != null" >
        h.pid = #{pid,jdbcType=VARCHAR} and 
    </if>
    <if test="ftype != null" >
        ftype = 0 and
    </if> 
   h.fid in
   (select f.fid from user_file f where f.userid = #{uid,jdbcType=VARCHAR}) 
   ORDER BY h.addtime asc 
  
  </select>
  
   <select id="getFileByPid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from hfile
    where pid = #{pid,jdbcType=VARCHAR}
  </select>
  
  <select id="getFileByMd5" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from hfile
    where fmd5 = #{fmd5,jdbcType=VARCHAR}
  </select>
  
</mapper>