<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoqee.hadoop.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.xiaoqee.hadoop.model.User" >
    <id column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="addTime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="logTime" property="logtime" jdbcType="TIMESTAMP" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="logIp" property="logip" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    userid, username, `password`, addTime, logTime, salt, `status`, logIp
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from `user`
    where userid = #{userid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from `user`
    where userid = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiaoqee.hadoop.model.User" >
    insert into `user` (userid,username, `password`, addTime, 
      logTime, salt, `status`, 
      logIp)
    values (#{userid,jdbcType=VARCHAR},#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP}, 
      #{logtime,jdbcType=TIMESTAMP}, #{salt,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{logip,jdbcType=VARCHAR})
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.xiaoqee.hadoop.model.User" >
    update `user`
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        addTime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="logtime != null" >
        logTime = #{logtime,jdbcType=TIMESTAMP},
      </if>
      <if test="salt != null" >
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="logip != null" >
        logIp = #{logip,jdbcType=VARCHAR},
      </if>
    </set>
    where userid = #{userid,jdbcType=INTEGER}
  </update>
  
  <select id="selectByUser" resultMap="BaseResultMap">
  	 select 
    <include refid="Base_Column_List" />
    from `user`
    where username = #{username,jdbcType=VARCHAR} and `password` = #{password,jdbcType=VARCHAR}
  </select>
  <select id="selectByUserName" resultMap="BaseResultMap">
  	 select 
    <include refid="Base_Column_List" />
    from `user`
    where username = #{username,jdbcType=VARCHAR}
  </select>
  

</mapper>